/* Log In 
 ************************************************/
.login , .account {
    header {
	padding-top: 4em;
	padding-bottom: 0;
	// Title Area
	.page-head {
	    @include span-columns(11);
	    @include shift(1);
	    margin-bottom: 4em;
	    // Tablet
	    @include media($medium-screen) {
		@include span-columns(8);
		@include shift(0);   
	    }
	    // Phone
	    @include media($small-screen) {
		@include span-columns($ss-full);
		margin-bottom: 3em;
	    } 
	    // Page Links
	    @extend %link-list;
	    // a couple tweaks to the list
	    ul li {
		margin-right: 3em;
		// Phone
		@include media($small-screen) {
		    margin-right: 2em;
		}
	    }
	}
	h1 {
	    font-weight: lighter;
	    color: $purple;
	    margin-bottom: 1rem;
	}
    }
    form {
	@extend %form-half;
	float: none;
	margin-bottom: 6em;
	input[type="submit"] {
	    display: block;
	    float: none;
	    @include span-columns(5);
	    // Small Screen
	    @include media($small-screen) {
		@include span-columns($ss-full);
	    } 
	}
    }
}
