default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

# Note this is NOT actually used on wso production servers.
production:
  <<: *default
  database: db/production.sqlite3
