// Forms & Buttons
///////////////////////////////////////////////////////////////////////////////
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10%);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

fieldset {
  background: lighten($base-border-color, 10%);
  border: 2px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

form {
  margin-bottom: $base-line-height*2;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
  resize: none;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 2px solid $form-border-color;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 2) ($base-line-height / 2);
  resize: none;
  resize: vertical;
  width: 100%;
  @include placeholder {color: $medium-gray;}
  // Hover
  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 2;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  margin-bottom: $base-line-height;
  resize: none;
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: $base-font-size-small;
  text-transform: uppercase;
  min-width: 8rem;
}

// Custom Buttons
///////////////////////////////////////////////////////////////////////////////

/* Toggle Buttons */
.toggles {
  padding-top: 1em;
}

.search-toggle, %toggle {
  position: relative;
  
  // Phone
  @include media($small-screen) {
    width: 0;
    @include span-columns(1.3);
    @include omega(3n);
  } 
  
  label {
    @extend %button;
    background: none;
    @include boxshade(0px, 0px, 0px, 2px, $purple, inset);
    padding: 7px 10px;
    width: 120px;
    @include br(2px);
    text-align: center;
    color: $purple;
    font-size: $base-font-size-small;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    // Phone 
    @include media($small-screen) {
      width: 100%;
    } 
  }

  input[type="checkbox"] {
    @include position(absolute, -9999px 0 0 -9999px);
    opacity: 0;
    // Sweet Sweet Checkbox Hax
    &:checked ~ label {
      background: $purple;
      color: white;
    }
  }

  input[type="radio"] {
    @include position(absolute, -9999px 0 0 -9999px);
    opacity: 0;
    // Sweet Sweet Checkbox Hax
    &:checked ~ label {
      background: $purple;
      color: white;
    }
  }
}

/* Modules */
%form {
  @include span-columns(10);
  @include shift(1);
  // Tablet
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(0);
  }
  // Phone
  @include media($small-screen) {
    @include span-columns($ss-full);
  }
}

%form-half {
  @include span-columns(5);
  @include shift(1);
  // Phone
  @include media($small-screen) {
    @include span-columns($ss-full);
  }
}
