<div class="article"> 

<section> <!-- Container Section -->
  <article>
    <br><br>
    <h3>
	To access listservs, type 
	<strong>/mailman/listinfo </strong> after 
	<strong>wso.williams.edu</strong>
    </h3>
    
    <br><br>
    <h4>What's this?</h4>
    <p>
      Some of you may have noticed increased spam recently on your listservs.
      Bots scan websites trying to find emails, and so directly linking to
      emails can be risky. So, we ask that you manually enter the URL because
      it'd take a sophisticated bot to figure out how to do that. We apologize
      for the inconvenience.
    </p>
  </article>
</section>
</div> 
