<div class="article"> 
<div class="full-width article-masthead">
  <header> <!-- Search header area -->
    <h1>Welcome to the new WSO!</h1>
    <h5>Williams Students Online</h5>
  </header>
</div> <!-- End Header's Full-Width Wrapper -->

<section> <!-- Container Section -->
  <article>
<p>&ldquo;Hello world!&rdquo;</p>

<p>I am very excited to share with you the new WSO. It has been over seven years since WSO&rsquo;s last revamping. After generations of effort, this change finally happened!</p>

<p><h3>Legend</h3><p>

<p>It is not until recently that I heard these legends about WSO. WSO started in 1994 on Dewitt Clinton&rsquo;s Mac Centris 610. It is one of the earliest student websites around the world. Our facebook was the first of its kind. It went alive in 1996, almost seven years before Zuckerberg started his at Harvard. The world would have become so much different if Dewitt and Jon, the talented former roots of WSO, pushed their facebook project a little bit further. Since then, we, as an independent student organization, have kept running this site for almost 20 years.</p>

<p>The site itself has evolved a lot in its twenty years of history. Here is a short video I made about how the website changes. It demonstrates this history pretty well.</p>

<iframe width="640" height="360" src="//www.youtube.com/embed/flPrho2NFh8" frameborder="0" allowfullscreen></iframe>

<p><h3>People</h3></p>

<p>At WSO, I got to work with a lot of amazing and talented people, namely Chuan Ji 12&rsquo;, Qiao Zhang 13&rsquo;, Ian Nesbitt 13&rsquo;, Ben Seiler 13&rsquo;, etc. They have already left the purple bubble, but they were still constantly giving us help and advices. Thanks a lot!</p>

<p>I also want to take this chance to thank our great team this year, especially Matt LaRose 16&rsquo;, our devoted head developer and father of the new Dormtrak; Simon Chase 14&rsquo; and Aaron Willey 16&rsquo;, the best system admins you could ever ask for; Cole Townsend 15&rsquo;, our talented designer; Lauren Yu 16&rsquo;, our awesome secretary and front-end developer, and Phil Brockman 17&rsquo;, our young and smart head developer. I would also like to thank Rahul Nath 15&rsquo;, Kyle Cheng 16&rsquo;, Benji Jones 15&rsquo;, Andrew Udell 16&rsquo;, Austin Paul 16&rsquo;, Ben Eastburn 15&rsquo;, Matt McNaughton 16&rsquo;, Diwas Timilsina 16&rsquo; and Mo Soussi 16&rsquo; for their help and support at WSO.</p>

<%= image_tag "/about/staff.png" %><br>

<p>Moreover, I want to thanks Professor Duane Bailey, our winter study project advisor; Erica Moszkowski 15&rsquo;, Emily Dzieciatko 15&rsquo;, Ellen Finch 16&rsquo; and Jake Butts 14&rsquo; from CC; Doug Schiazza and URLAC; Professor Steven Miller and his wife; Office for Information Technology; Rob White and Carl Strolle from Office of Communications; and Professor Lois Banta from Faculty Steering Committee. Thanks to the opportunity to build the new WSO, I got to work with these awesome people. Their dedication to making Williams a better community inspired me.</p>

<p><h3>Struggle</h3></p>

<p>At the beginning of this school year, I was the most helpless president ever. WSO had only two or three formal members, and people who attended our regular meetings were different every week. I had no idea about what machines we had in the server room and how we were providing all these services. Thank god I found all of these great guys this year. We learned and worked together, we frustrated at the most ridiculous bugs and celebrated at the unbelievable breakthroughs. Maintaining a big, out-dated website takes a lot of time, and developing a new one takes even more. For the past several days, Matt, Cole, me and other developers were literally sitting in front of the screen for most of the day to fix all the bugs we have on the website. You can&rsquo;t describe how excited we were when we saw the site running beautifully.</p>

<p>I am graduating in two months. The new WSO is the best graduation gift I could ever think of. </p>

<p>WSO started as one of the earliest sites of its kind, and now we are one of the few college student websites that are actually still run by students. I believe we can continue this tradition!</p>

<p>Last but not the least, since the website is still under testing, I&rsquo;m sure there are still bugs everywhere. Please don&rsquo;t hesitate to shoot us an email at <%= mail_to "wso-dev@wso.williams.edu" %> if you find any bugs or have any suggestions to make things better. We&rsquo;d love to hear from you, and we strive to serve the Williams community better.</p>

<p>Thank you, everyone.</p>

<p>Thank you, WSO.</p>

<p>Sincerely,<br>
President of WSO 13&rsquo; - 14&rsquo;<br>
Ziang (Lucky) Zhang<br>
April 12, 2014<br>
</p>
    </p>
    </article>
  </section>
</div>

