<li id="recent-comment">
  <%= link_to small_avatar_for(r.building), r.building %>
  <span class="comment"><%= r.comment %></span>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago. jejejeje
  </span>
</li>